@page
@model WebApplicationTemplate.Areas.Project.Pages.IndexModel

@{
    ViewData["Title"] = "Project List";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table id="project" class="table table-sm table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Project[0].ProjectName)</th>
            <th>@Html.DisplayNameFor(model => model.Project[0].ProjectDescription)</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts
{
   <partial name="_Scripts" />

    <script>
        $(document).ready(function () {
                $('#project').DataTable({
                    deferRender: true,
                    ordering: true,
                    paging: true,
                    searching: true,
                    select: false,
                    processing: true,
                    serverSide: true,
                    order: [[0, 'asc']],
                    ajax: {
                    url: '?handler=ListAll',
                        type: "POST",    
                        headers: {
                            RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                    },
                    columns: [
                        { data: 'projectName', name: 'ProjectName' },
                        { data: 'projectDescription', name: 'ProjectDescription' },
                        {
                            data: null,
                            render: function (row) {
                                return '<a class="btn btn-secondary" href="/Project/Details?id=' + row.id + '">View</a> <a class="btn btn-primary" href="/Project/Edit?id=' + row.id + '">Edit</a> <a class="btn btn-danger" href="/Project/Delete?id=' + row.id + '">Delete</a>'
                            },
                            sortable: false,
                            width: "20%",
                        },
                    ],
                });
            });
    </script>
}
